/* 投稿一覧 */
.header{
  background-color: ghostwhite;
}

.title {
  font-family: 'Merienda One', cursive;
  font-size: 43px;
  font-weight: bold;
  color:rgb(247, 188, 100);
  text-decoration: none;
}

.current-user {
  padding-left: 80vw;
}

.cat-lists {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0 10px;
}

.link-to-list {
  color: black;
  text-decoration: none;
}

.cat-info {
  height: 30vh;
  font-size: 0.95vw;
}
.cat-index-name {
  font-size: 2.2vh;
  width: 27vh;
}

/* //投稿一覧 */