.user {
  display: flex;
  text-align: center;
  background-color: rgb(238, 234, 234);
}

.user-nickname {
  margin-bottom: 0;
}

.profile-title {
  font-size: 20px;
  margin-top: 18px;
  font-style: italic;
  font-weight: bold;
  color: rgb(19, 90, 245);
}

.user-profile-content {
  max-width: 1000px;
  margin: 0 220px;
  text-align: center;
}

.post-log-title {
  max-width: 98.9%;
  color: white;
  background-color:rgba(188, 240, 210, 0.904);
  border-radius: 3em;
}

.post-log {
  width: 100vw;
  display:inline-flex;
  flex-wrap: wrap;
}


.log-image {
  padding: 0 5px;
}
